.texto      	{font: 13px Verdana; text-decoration: none; color: #000000}
.texto_peq  	{font: 11px Verdana; text-decoration: none; color: #000000}
.titulos        {font: bold 13px Verdana; text-decoration: none; color: #FF0000}
.form_campos	{background-color: #FFFFFF; font: 12px Verdana; border-style: groove}
.form_botao 	{background-color: #CCCCCC; font: 12px Verdana; border-style: outset}
